*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
body{
    background-color: darkgrey;
}
.timeline-horizontal{
    position: relative;
    display: flex;
    height: 500px;
    margin: 16px;

    overflow-x: scroll;
    overscroll-behavior-x: contain;
}
.container{
    padding: 10px 10px;
    background-color: antiquewhite;
    position: relative;
    width: 205px;
    height: 41%;
}
.textbox{
    padding: 20px 30px;
    background-color: aliceblue;
    position: relative;
    border-radius: 8px;
    font-size: 15px;
}
.top-container{
    top: 0;
}
.bottom-container{
    top: 41%;
    padding-top: 23px;
}